In [12]:
import numpy as np
import pandas as pd

### Задание 1

In [24]:
A = np.array([[1, 6],
            [2, 8],
            [3, 11],
            [3, 10],
            [1, 7]])

In [22]:
mean_a = A.mean(axis = 0)
print (mean_a)

[2.  8.4]

### Задание 2

In [27]:
a_centered = A - mean_a
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

### Задание 3

In [31]:
a_centered_sp = a_centered[:, 0].dot(a_centered[:, 1])/(A.shape[0]-1)
a_centered_sp

2.0

### Задание 4

In [34]:
c = np.cov(A.transpose())
print(c[0, 1])

2.0

## Pandas

### Задание 1

In [22]:
authors = pd.DataFrame ({
    'author_id': [1, 2, 3],
    'author_name': ['Тургенев', 'Чехов', 'Островский']
}, columns=['author_id', 'author_name']) 
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [23]:
book = pd.DataFrame ({
    'author_id': [1, 1, 1, 2, 2, 3, 3],
    'book_title': [450, 300, 350, 500, 450, 370, 290]
}, columns=['author_id', 'book_title']) 
print(book)

   author_id  book_title
0          1         450
1          1         300
2          1         350
3          2         500
4          2         450
5          3         370
6          3         290

### Задание 2

In [27]:
authors_price = pd.merge(authors, book, on='author_id', how='inner')
print(authors_price)

   author_id author_name  book_title
0          1    Тургенев         450
1          1    Тургенев         300
2          1    Тургенев         350
3          2       Чехов         500
4          2       Чехов         450
5          3  Островский         370
6          3  Островский         290

### Задание 3

In [28]:
top5 = authors_price.nlargest(5, "book_title")
print(top5)

   author_id author_name  book_title
3          2       Чехов         500
0          1    Тургенев         450
4          2       Чехов         450
5          3  Островский         370
2          1    Тургенев         350

### Задание 4

In [33]:
col1 = authors_price.groupby('author_name').agg({'book_title': 'min'}).rename(columns={'book_title':'min_price'})
col2 = authors_price.groupby('author_name').agg({'book_title': 'max'}).rename(columns={'book_title':'max_price'})
col3 = authors_price.groupby('author_name').agg({'book_title': 'mean'}).rename(columns={'book_title':'mean_price'})
authors_stat=pd.concat([col1, col2, col3], axis = 1)
authors_stat

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000